/* Estilos para el formulario */

/* Estilos generales de etiquetas del formulario */
.form-label {
    font-weight: bold;
    color: #333;
}

/* Estilos generales para los controles del formulario (inputs, select, textarea) */
.form-control {
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    font-size: 14px;
}

/* Estilo específico para el textarea */
textarea.form-control {
    font-size: 14px;
    /* No expandirse */
    resize: none;
}

/* Estilos para el botón dentro del formulario */
.btn-custom-form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 25px;
    font-size: 14px;
    border: 2px solid #0069d9;
    border-radius: 25px;
    background-color: #0069d9;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-top: 20px;
    width: auto;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-custom-form:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    cursor: pointer;
}

/* Estilo para el icono al lado del botón */
.btn-custom-form i {
    margin-right: 8px;
}

/* Estilo cuando el botón está deshabilitado */
.btn-custom-form:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

/* Estilos para las filas del formulario */
.form-row {
    margin-bottom: 15px;
}

/* Estilo para los mensajes de error */
.invalid-feedback {
    font-size: 0.9rem;
    color: #dc3545;
}

/* Estilos para el select */
.custom-select {
    position: relative;
    width: 100%;
    max-width: 220px;
    cursor: pointer;
}

/* Estilo para la opción seleccionada en el select */
.selected-option {
    border: 1px solid #ced4da;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: #fff;
    gap: 10px; /* Espaciado entre la bandera y el texto */
}

/* Contenedor de opciones del select personalizado */
.options-container {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ced4da;
    background-color: #fff;
    display: none;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

/* Estilo de cada opción en el select */
.option {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    cursor: pointer;
}

/* Hover sobre cada opción del select */
.option:hover {
    background-color: #f8f9fa;
}

/* Centra el texto dentro de la opción del menú desplegable */
.option span:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

/* Estilo para las banderas dentro del select */
.flag-icon {
    width: 20px;
    height: 15px;
    border-radius: 2px;
    display: inline-block;
}

/* Estilos para el botón flotante de WhatsApp */
#whatsappBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    visibility: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#whatsappBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

#whatsappBtn i {
    font-size: 28px;
}

/* Estilos específicos para pantallas pequeñas (max-width: 576px) */

@media screen and (max-width: 576px) {
    #contacto {
        width: 95%;
    }
    
    #contact-form {
        margin: 0 15px;
    }

    #whatsappBtn {
        width: 55px;
        height: 55px;
    }

    #whatsappBtn i {
        font-size: 23px;
    }
}