/* Barra de navegación */
.navbar {
    /*background-color: transparent;*/ /* Fondo blanco semitransparente */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    backdrop-filter: blur(5px);  /* Fondo difuso cuando se hace scroll */
}

.navbar-nav {
    font-weight: bold;
    gap: 2rem;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.05rem;
    color: black;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
    color: #0056b3;
}

/*.logo {
    display: block;
    width: 90px; 
    height: 90px; 
    background-image: url('../img/logo_sinfondo.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}*/

body, html {
    overflow-x: hidden;
}

/* Para corregir la visualizacion del contenido al presionar un enlace */
html {
    scroll-padding-top: 114px;
}

/* Estilos generales */

.seccion-clara {
    color: black;
    background-color: white;
}

.seccion-oscura {
    color: white;
    background-color: #1b1b32;
}

/* Seccion Hero */

.hero {
    background-image: url('../img/fondo_ushuaia.jpg'); /* Asegúrate de que la ruta de la imagen sea correcta */
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    padding-top: 70px;
}

/* Efecto de desenfoque (blur) en el fondo */
.hero::before, .hero_galery::before, .hero_contact::before, .hero_food::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px); /* Aplica el efecto de desenfoque */
    z-index: 0; /* Asegura que el fondo esté por debajo del contenido */
}

.hero_galery {
    background-image: url('../img/galeria_imagenes.jpeg'); /* Asegúrate de que la ruta de la imagen sea correcta */
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    padding-top: 70px;
}

.hero_contact {
    background-image: url('../img/ushuaia_contact.jpg'); /* Asegúrate de que la ruta de la imagen sea correcta */
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    padding-top: 70px;
}
.hero_food {
    background-image: url('../img/Comida/background.jpg'); /* Asegúrate de que la ruta de la imagen sea correcta */
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    padding-top: 70px;
}

.hero-principal {
    z-index: 1; /* Hace que el contenido esté por encima del fondo desenfocado */
    padding: 2rem;
    max-width: 800px;
}

/* Estilo del título (h1) */
.hero h1, .hero_galery h1, .hero_food h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    z-index: 1; /* Asegura que el texto esté por encima del fondo */
}

/* Estilo del subtítulo (h2) */
/*.hero h2, .hero_galery h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    z-index: 1; /* Asegura que el texto esté por encima del fondo 
}*/

.hero h2, .hero_galery h2, .hero_food h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    line-height: 1.4;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 5px;
    z-index: 1;
}

/* Estilo de texto cuando se hace scroll */
.hero-principal h1,
.hero-principal h2 {
    animation: fadeIn 2s ease-out;
}

.btn-custom {
    background-color: #0056b3; /* Azul oscuro */
    color: white; /* Texto en blanco */
    font-weight: bold; /* Negrita */
    border-radius: 25px; /* Bordes redondeados */
    padding: 12px 30px; /* Mayor tamaño y padding */
    transition: all 0.3s ease; /* Transición suave */
}

/* Efecto hover: cambio de color y sombra */
.btn-custom:hover {
    background-color: #00aaff; /* Cambio a un azul más claro al hacer hover */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
    transform: translateY(-3px); /* Pequeño movimiento hacia arriba */
}

/* Efecto active: cuando se hace clic */
.btn-custom:active {
    background-color: #0056b3; /* Vuelve al color original */
    transform: translateY(1px); /* Desplazamiento hacia abajo */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Sombra más suave */
}

/* Hasta aqui nada */

/* Historia */

/*#historia {
    padding-top: 140px; /* Ajusta este valor según la altura de tu barra de navegación 
}*/

.historia {
    /*margin: 2rem;*/
    padding: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
  
img.rounded {
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 1rem; /* Espaciado inferior */
}

.columna {
    padding: 20px;
}

/* Carousel */

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Asegura que la imagen cubra el espacio sin deformarse */
    max-height: 600px;  /* Limita la altura de las imágenes */
  }
  
  /* Mejora de la apariencia del caption */
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);  /* Fondo oscuro translúcido para mejorar la legibilidad */
    border-radius: 15px;
    padding: 15px;
    color: white;  /* Asegura que el texto sea blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);  /* Añade una sombra sutil para resaltar el caption */
    backdrop-filter: blur(5px);  /* Fondo desenfocado para un mejor contraste */
  }
  
  .carousel-indicators button {
    background-color: #fff;  /* Botones de los indicadores en blanco */
  }
  
/* Turismo */
.turismo {
    padding: 20px;
}

#turismo h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.turismo .container .row {
    margin: 2rem;
}

.card {
    margin-bottom: 20px; /* Espacio entre las cards */
    border-radius: 15px; /* Bordes redondeados */
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 100%;
    height: 100%;
    /*min-height: 350px;*/
    overflow: hidden;
}

.card:hover {
    background-color: rgb(6, 55, 128);
    color: white;
    transform: translateY(-5px); /* Eleva ligeramente la card */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Agrega sombra más intensa */
    transition: all 0.3s ease; /* Transición suave */
}
  
.card img {
    width: 100%;
    border-radius: 15px 15px 0 0; /* Bordes redondeados en la imagen */
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card-img-top {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la card */
    height: 200px; /* Ajusta la altura a un valor fijo */
    object-fit: cover; /* Hace que la imagen se recorte para llenar el contenedor sin distorsionarse */
}

/* Estilo para los badges */
.badge {
    font-size: 0.85rem; /* Tamaño de fuente más pequeño */
    padding: 0.5em 1em; /* Padding de los badges */
    border-radius: 20px; /* Bordes redondeados */
    position: absolute;
    top: 15px; /* Posición en la parte superior */
    right: 15px; /* Posición en la parte derecha */
    z-index: 10; /* Asegura que el badge quede por encima de otros elementos */
    font-weight: bold; /* Texto en negrita */
}
  
.card-body {
    text-align: center;
}

/* Estilo para el botón */
.card-body > .btn-primary {
    background-color: #0069d9; /* Color de fondo azul */
    border: none;
    padding: 10px 20px;
    border-radius: 25px; /* Bordes redondeados para el botón */
    transition: background-color 0.3s ease; /* Transición suave en el color de fondo */
}

.card-body.btn-primary:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el botón */
}

/* Pie de pagina (footer) */

footer {
    min-height: 500px;
}

.footer-logo {
    height: 120px;
    width: 120px;
    margin: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/* Footer */

footer {
    background: linear-gradient(135deg, #1b1b32, #33354a); /* Fondo degradado */
}

footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer a {
    color: white; /* Color por defecto */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Colores específicos para cada red social */
footer .bi-facebook {
    color: #4267B2; /* Azul de Facebook */
}

footer .bi-instagram {
    color: #C13584; /* Rosa de Instagram */
}

footer .bi-twitter-x {
    color: #1DA1F2; /* Azul de Twitter */
}

footer .bi-youtube {
    color: #FF0000; /* Rojo de YouTube */
}

/* Hover genérico para todos los íconos */
footer .bi:hover {
    color: #00aaff; /* Azul para hover */
    transform: scale(1.1); /* Ligera animación */
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Estilo para los títulos del acordeón */
.accordion-header .accordion-button {
    font-family: 'Montserrat', sans-serif; /* Aplicar la fuente Montserrat */
    font-weight: 600; /* Negrita moderada */
    font-size: 1.1rem; /* Tamaño de letra ligeramente más grande */
    color: #ffffff; /* Texto blanco para mayor contraste */
    background-color: #2b2e38; /* Color oscuro acorde al footer */
    border: none; /* Elimina el borde */
    transition: background-color 0.3s ease; /* Efecto suave al interactuar */
}

.accordion-header .accordion-button:hover {
    background-color: #44485a; /* Color más claro al pasar el mouse */
}

/* Estilo general del acordeón */
.accordion-item {
    background-color: #2C2F3F; /* Fondo oscuro similar al footer */
    border: 1px solid #3B4C5A; /* Borde sutil */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espaciado entre elementos */
    overflow: hidden; /* Evitar desbordes */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

/* Estilo del botón del acordeón */
.accordion-button {
    background-color: #2C2F3F; /* Fondo oscuro */
    color: #FFFFFF; /* Texto blanco */
    border: none; /* Sin bordes adicionales */
    font-weight: bold; /* Negrita */
    padding: 15px; /* Espaciado interno */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

/* Hover en el botón */
.accordion-button:hover {
    background-color: #3B5A77; /* Azul vibrante al hacer hover */
    color: #FFFFFF; /* Mantener texto blanco */
}

/* Botón activo (acordeón abierto) */
.accordion-button:not(.collapsed) {
    /*background-color: #3B5A77; /* Azul al expandir */
    color: #FFFFFF; /* Texto blanco */
    box-shadow: inset 0 -2px 0 #FFFFFF; /* Efecto línea interna */
}

/* Contenido del acordeón */
.accordion-body {
    background-color: #35394A; /* Fondo gris oscuro */
    color: #E0E0E0; /* Texto gris claro */
    padding: 15px; /* Espaciado interno */
    font-size: 0.95rem; /* Tamaño de texto */
    line-height: 1.6; /* Espaciado entre líneas */
}

/* Personaliza la flecha del botón del acordeón */
.accordion-button::after {
    filter: brightness(0) invert(1); /* Convierte la flecha a blanco */
}

/* Opcional: cambia el color de la flecha también cuando está activa */
.accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1); /* Mantiene la flecha blanca cuando está expandida */
}

/* Formulario */

.form-label {
    font-weight: bold;
    color: #333;  /* Color del texto de las etiquetas */
}

.form-control {
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px; /* Reducción de padding para hacer más pequeño el input */
    font-size: 14px; /* Tamaño de fuente ligeramente más pequeño */
}

textarea.form-control {
    font-size: 14px; /* Tamaño de fuente más pequeño en el textarea */
}

/* Estilos para el botón */
.btn-custom-form {
    display: inline-flex; /* Para centrar el contenido */
    justify-content: center;
    align-items: center;
    padding: 8px 25px; /* Mantener tamaño pequeño pero adecuado */
    font-size: 14px; /* Tamaño de fuente ajustado */
    border: 2px solid #0069d9; /* Borde con color azul */
    border-radius: 25px; /* Bordes redondeados */
    background-color: #0069d9; /* Fondo azul */
    color: white; /* Texto blanco */
    text-transform: uppercase;
    font-weight: 600; /* Texto más negrito */
    transition: all 0.3s ease; /* Transición suave */
    margin-top: 20px; /* Espacio superior */
    width: auto; /* Ajustar el ancho del botón */
    max-width: 200px; /* Limitar el ancho máximo */
    display: block;
    margin-left: auto; /* Centrar el botón horizontalmente */
    margin-right: auto; /* Centrar el botón horizontalmente */
}

.btn-custom-form i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

/* Efecto hover */
.btn-custom-form:hover {
    background-color: #0056b3; /* Fondo más oscuro en hover */
    border-color: #0056b3; /* Borde más oscuro */
    cursor: pointer; /* Cambia el cursor a mano */
}

/* Estilo cuando el botón está deshabilitado */
.btn-custom-form:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

.form-row {
    margin-bottom: 15px;
}

.invalid-feedback {
    font-size: 0.9rem;
    color: #dc3545;
}

/* Galeria de imagenes */

/* Galería CSS */

.galeria-grid {
    display: grid;
    grid-template-areas:
      "area1 area2 area3"
      "area4 area5 area3"
      "area4 area6 area7"
      "area8 area8 area9"
      "area10 area11 area9"
      "area10 area12 area13";
    gap: 15px; /* Espacio entre imágenes */
    justify-content: center;
  }

  .galeria-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .galeria-grid .area1 { grid-area: area1; }
  .galeria-grid .area2 { grid-area: area2; }
  .galeria-grid .area3 { grid-area: area3; }
  .galeria-grid .area4 { grid-area: area4; }
  .galeria-grid .area5 { grid-area: area5; }
  .galeria-grid .area6 { grid-area: area6; }
  .galeria-grid .area7 { grid-area: area7; }
  .galeria-grid .area8 { grid-area: area8; }
  .galeria-grid .area9 { grid-area: area9; }
  .galeria-grid .area10 { grid-area: area10; }
  .galeria-grid .area11 { grid-area: area11; }
  .galeria-grid .area12 { grid-area: area12; }
  .galeria-grid .area13 { grid-area: area13; }


/*.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;  Espacio entre imágenes 
    justify-content: center;
  }*/
  
  /*.galeria-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .galeria-grid img.row-span-2 {
    grid-row: span 2;
  }

  .galeria-grid img.col-span-2 {
    grid-column: span 2;
  }*/


/* Adaptable (Responsivo) */

@media screen and (max-width: 1200px) {
    .columna img {
        width: 300px;
    }
    .carousel-caption p {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .columna img {
        width: 400px;
    }
    .galeria-grid {
        grid-template-areas:
          "area1 area3"
          "area2 area3"
          "area4 area5"
          "area4 area6"
          "area7 area11"
          "area8 area8"
          "area9 area10"
          "area9 area10"
          "area12 area13";
      }

      
      /*.custom-grid .col-md-6 {
        width: 100%;   Esto es opcional, ya lo hace Bootstrap 
        gap: 10px;
      }*/

}
@media screen and (max-width: 767px) {
    .carousel-caption {
        padding: 0;
    }
    .carousel-caption h5 {
        font-size: 14px;
    }
    .carousel-caption p {
        display: none;
    }
    .logo_footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*.container {
        width: 100%;
        margin: 0 15px;
    }*/
    .galeria-grid {
        grid-template-areas:
          "area1"
          "area2"
          "area3"
          "area3"
          "area5"
          "area6"
          "area4"
          "area4"
          "area7"
          "area8"
          "area9"
          "area9"
          "area10"
          "area10"
          "area11"
          "area12"
          "area13";
      }
}

@media screen and (max-width: 576px) {
    #contact-form {
        margin: 0 15px;
    }
}